body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1438px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.shape1 {
    background: url(./img/Shape1.png) center no-repeat;
    position: absolute;
    width: 100%;
    height: 191px;
}

.shape2 {
    position: absolute;
    width: 100%;
    height: 191px;
} 

/*----------------- header ------------------*/
header {
    background: url(./img/Shape1.png) center no-repeat;
    max-width: 1438px;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 191px;
}

.container-header {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 35px 60px 0 60px;
    justify-content: space-between;
}

.bar {
    font-size: 36px;
    display: none;
}

.nav {
    display: flex;
    align-items: center;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-right: 43px;
}

.menu li a {
    color: #54524f;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16.667px;
    line-height: 1.2;
    letter-spacing: 3px;
}

.search {
    border-radius: 40px;
    background-color: #c3bfbc ;
    width: 182px;
    height: 51px;
}

.search_result{
    font-size: 30px;
    margin: 12px 20px 0 120px;
    color: #68635f;
}

/*------------- section -------------*/

/*-------------- group1 -------------*/
.group1 {
    background: url(./img/Shape1.png) top center ;
    background: url(./img/Image.png);
    height: 957px;
    padding-left: 82px;
}

.group1 .shape2 {
    background: url(./img/Shape2.png) center no-repeat;
    left: 0;
    top: 812px;
}

.group1 .title {
    color: #deb37e;
    font-weight: bold;
    font-size: 90px;
    text-shadow: 5px 2px 4px #d7d5d1;
    padding-top: 184px;
    margin: 0;
}

.group1 .subtitle {
    font-size: 24px;
    height: 16px;
    color: #54524f;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    margin: 0;
    letter-spacing: 4px;
}

.group1 .btnRead {
    background-color: #fefdfc;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    margin-top: 100px;
}

.group1 .btnRead a{
    color: #776c64;
    font-size: 24px;
    font-weight: bold; 
    text-decoration: none;
}

.group1 .btnRead:hover {
    opacity: 0.8;
    cursor: pointer;
}

.group1 p {
    color: #54524f;
    font-style: italic;
    width: 486px;
    font-size: 20px;
    line-height: 28px;
    margin-top: 27px;
}

/*--------------- group2 ---------------*/
.group2 {
    background: url(./img/shadowG2.png) left bottom no-repeat;
    text-align: center;
    margin-top: 60px;
}
.group2 .title {
    font-size: 62.5px;
    color: rgb(226, 163, 85);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 49px;
}

.group2 p {
    font-size: 27.08px;
    color: rgb(127, 119, 112);
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

.group2 .list-item {
    display: flex;
    justify-content: space-around;
    margin-top: 81px;
    margin: 76px 100px 55px;
}

.group2 .content {
    background-color: #7f7770;
}

.group2 .list-item img {
    width: 339px;
    height: 301px;
}

.group2 .list-item h1 {
    color: #fff;
    font-size: 29.17px;
    text-align: left;
    padding: 57px 0 0 13px;
}

.group2 .list-item p {
    color: #fff;
    font-size: 22.92px;
    text-align: left;
    padding: 23px 0 69px 13px;
}

.group2 .btnShow {
    background-color: #7f7770;
    border-radius: 100px;
    border: none;
    padding: 29px 64px;
    margin-bottom: 100px;
}

.group2 .btnShow a{
    color: #fff;
    font-size: 23.15px;
    font-weight: bold; 
    text-decoration: none;
    letter-spacing: 4px;
}

.group2 .btnShow:hover {
    opacity: 0.9;
    cursor: pointer;
}

/*--------------- group3 -------------*/
.group3 {
    position: relative;
}
.group3 .item1 {
    display: flex;
    color: #fff;
}

.group3 .item1 h1{
    padding: 201px 0 0 60px;
    font-size: 58.33px;
}

.group3 .item1 p {
    padding-left: 60px;
    margin-top: 50px;
    font-size: 29.17px;
}

.group3 .content-text-1 {
    background-color: #7f7770;
    width: 100%;
}

.group3 .item2 {
    display: flex;
    color: #fff;
}

.group3 .item2 h1{
    font-size: 58.33px;
    padding: 200px 0 0 143px;
}

.group3 .item2 p {
    margin-top: 50px;
    font-size: 29.17px;
    padding-left: 139px;
}

.group3 .content-text-2 {
    background-color: #deb37e;
    width: 100%;
}

.group3 .btnRead {
    background-color: #e2a355;
    border-radius: 100px;
    border: none;
    padding: 27px 43px;
    margin: 52px 0 0 60px;
}

.group3 .btnRead a{
    color: #fff;
    font-size: 29.17px;
    font-weight: bold; 
    text-decoration: none;
    letter-spacing: 4px;
}

.group3 .btnRead:hover {
    opacity: 0.9;
    cursor: pointer;
}

.group3 .item2 .btnRead {
    padding: 29px 69px;
    margin: 51px 0 131px 149px;
}

.group3 .item2 .btnRead a{
    font-size: 23.15px;
}

/*-------------- group4 -------------*/
.group4 {
    background: #99928d url(./img/shadowG2.png) left center no-repeat;
    text-align: center;
    position: relative;
}

.group4 h1{
    color: #fff;
    font-size: 58.33px;
    padding-top: 352px;
}

.group4 p {
    color: rgb(219, 219, 219);
    font-size: 29.17px;
    margin-top: 43px;
    padding-bottom: 300px;
}

/*-------------- group5 ----------------*/
.group5 {
    background-image: url(./img/imgGroup5.png);
    height: 1114px;
    position: relative;
}

.group5 .shape1 {
    background-image: url(./img/Shape2G5.png);
    height: 330px;
    top: -70px;
}

.group5 .shape2 {
    background-image: url(./img/Shape2.png);
    top: 940px;
}

.group5 .title {
    padding: 490px 100px 0 0;
}

.group5 h1 {
    text-align: right;
    font-weight: bold;
    color: #54524f;
    font-size: 72px;
    text-shadow: 4px -3px 4px #bbbab7;
}

.group5 h1:first-child {
    color: #deb37e;
}

/*------------- group6 -------------*/
.group6 {
    background: #fff url(./img/ShadowG6.png) right bottom no-repeat;
    text-align: center;
    color: #3f3f3f;
    margin-bottom: 60px;
}

.group6 .list-item {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 22px 200px 252px;
}

.group6 .content h1{
    color: #deb37e;
}

.group6 .content p{
    color: #a0a4a7;
}

.group6 .symbol-quotes {
    font-size: 100px;
}

.group6 p {
    font-size: 25px;
}

.group6 p:last-child {
    font-size: 20.83px;
    font-weight: bold;
    margin-top: 35px;
}

/*------------- group7 --------------*/
.group7 {
    background-color: #deb37e;
    text-align: center;
    position: relative;
}

.group7 .shape1 {
    background-image: url(./img/Shape1G7.png);
    height: 210px;
    top: -50px;
}

.group7 .shape2 {
    background-image: url(./img/Shape2G7.png);
    height: 187px;
    top: 788px;
}

.group7 h1{
    color: #fff;
    font-size: 58.33px;
    padding-top: 300px;
}

.group7 p {
    color: #54524f;
    font-size: 29.17px;
    margin-top: 43px;
}

.group7 .email {
    padding: 60px 0 300px 0;
}

.group7 .email input {
    font-size: 25px;
    padding-left: 20px;
    width: 400px;
    height: 46px;
    border: none;
    border-radius: 100px;
}

.group7 .email label {
    margin-left: -50px;
    padding: 15px 30px 13px 30px;
    color: #fff;
    background-color: #54524f;
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 2px;
}

.group7 .email label:hover {    
    background-color: rgb(230, 31, 31);
    cursor: pointer;
}

/*-------------- footer --------------*/
footer {
    background-color: #7f7770;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 300px 0 200px 0;
    margin: 0 80px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    padding: 8px;
    font-size: 23.7px;
}

footer .title-f {
    color: #fff;
    list-style: none;
    padding-top: 10px;
    font-size: 31.6px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer p {
    color: #fff;
    font-size: 23.7px;
    padding-top: 18px;
    line-height: 1.2;
}

footer .title-f {
    font-weight: bold;
    margin-bottom: 20px;
}

footer .social-media {
    display: flex;
    padding-top: 30px;
}


/*---------------- Responsive -------------*/
@media screen and (max-width: 768px) {

    /*----------- header ----------*/
    header .shape1 {
        left: 0;
        top: 129px;
    }

    .container-header {
        margin: 0;
    }
    
    .bar {
        display: block;
    }
    
    .nav {
        display: none;
        background-color: #fff;
        flex-basis: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .flex {
        display: flex;
    }

    .menu li {
        display: block;
        margin: 10px;
    }

    /*------------ group1 -----------*/
    .group1 .shape2 {
        left: 0px;
    }

    /*------------- group2 ----------*/
    .group2 .list-item {
        display: flex;
        justify-content: space-between;
        margin-top: 81px;
        width: 768px;
        margin: 100px auto;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .group2 .content {
        margin: 30px;
    }

    .group2 .title {
        font-size: 60px;
    }

    .group2 p {
        font-size: 20px;
    }

    /*----------- group3 -----------*/
    .group3 .item1 {
        flex-direction: column;
    }
    

    .group3 .item2 {
        flex-direction: column-reverse;
    }

    .group3 .item1 h1{
        padding: 100px 0 0 60px;
        font-size: 50px;
    }

    .group3 .item1 p {
        padding-left: 60px;
        margin-top: 50px;
        font-size: 20px;
    }

    .group3 .btnRead {
        padding: 18px 28px;
        margin: 52px 0 100px 60px;
    }

    .group3 .item2 h1 {
        font-size: 50px;
        padding: 100px 0 0 130px;
    }

    .group3 .item2 p {
        margin-top: 30px;
        font-size: 20px;
        padding-left: 130px;
    }

    .group3 .item2 .btnRead {
        padding: 20px 40px;
        margin: 50px 0 100px 130px;
    }

    /*------------ group4 -----------*/
    .group4 h1 {
        font-size: 50px;
    }

    .group4 p {
        font-size: 20px;
    }

    /*----------- group6 -------------*/
    .group6 .list-item {
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        margin: 0;
    }

    .group6 .content {
        margin: 30px;
    }

    .group6 p {
        font-size: 18px;
    }

    .group6 p:last-child {
        font-size: 18px;
    }

    /*----------- group7 -----------*/
    .group7 h1 {
        font-size: 50px;
    }

    .group7 p {
        font-size: 20px;
    }

    /*------------- footer ----------*/
    footer .title-f {
        font-size: 20px;
    }

    footer ul li {
        font-size: 18px;
    }

    .container-footer {
        margin: 0 20px;
    }

    footer p {
        font-size: 16px;
    }
}




